* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1b2430;   /* dark navy - professional, tech feel */
  --accent: #3b82f6;    /* blue - trust, tech */
  --gray: #6b7280;
  --light: #f5f5f5;
}

nav {
    background-color: var(--primary);
    padding: 16px 32px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: var(--accent);
}

.hero {
    background-color: var(--light);
    padding: 64px 32px;
    text-align: center;
}
.hero h2 {
    font-size: 40px;
    color: var (--primary);
    margin-bottom: 16px;
}

.hero p{
    font-size: 18px;
    color: var(--gray);
    max-width: 600px;
    margin: 0 auto 12px auto;
    line-height: 1.6;
}

main > section {
    padding: 48px 32px;
    background-color: white;
}

main > section:nth-child(even) {
    background-color: var(--light);
}

.skills-list,
main section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}
main section ul li {
    background-color:var (--light);
    padding: 10px 16px;
    border-radius: 6px;
    color: var(--primary);
    font-weight: 500;
}

h2 {
    color: var(--primary);
    margin-bottom: 12px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 12px;
    margin-top: 16px;
}

form input,
from textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

form button:hover {
    opacity: 0.85;
}

footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 24px;
}

.project-card {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 24px;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 06);
    transition: transform 0.6s, ease;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.project-card h3 {
    color: var(--primary);
    margin-bottom: 8px;
}

.project-card .tags {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.project-card .tags span {
    background-color: var(--light);
    color: var(--primary);
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

main section ul li {
    transition: all 0.3s ease;
    cursor: default;
}

main section ul li:hover { 
    background-color: var(--accent);
    color: white;
    transform: translateY(-2px);
}